@model QuizH.ViewModels.Exam.ExamListViewModel


<table class="table table-striped">
    <thead><tr><td>Title</td><td>Course</td></tr></thead>
    <tbody>

        @foreach (var exam in Model.Exams)
        {
            <tr>
                <td>@exam.Title</td>
                <td>@exam.Course</td>
                <td>@Html.ActionLink("Edit", "Edit", new { title = exam.Title })</td>
                <td>@Html.ActionLink("Details", "Details", new { title = exam.Title })</td>
            </tr>
        }
    </tbody>
</table>


@Html.ActionLink("Insert a new Exam", "Insert")
@section scripts{

    <script src="~/js/Exam.js" asp-append-version="true"></script>
}